/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --background-color: #ececec;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Mono", monospace;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* main tittle */
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(
      135deg,
      var(--background-color) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--background-color) 25%, transparent 25%);
  background-size: 30px 30px;
}
/* end main tittle */
/* start header */
.header {
  position: relative;
  background-color: white;
  -box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  height: 72px;
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 40px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  color: black;
  padding: 0 15px;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  height: 4px;
  width: 100%;
  background: var(--main-color);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  border-radius: 20px;
}
.header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 3px);
}
.header .mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: white;
  display: flex;
  gap: 50px;
  border-bottom: 3px solid var(--main-color);
  padding: 30px;
  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-transition);
  opacity: 0;
}

@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image img {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  background-color: #fafafa;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #ddd;
  }
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* end header */

/* start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 29px;
  }
}
.landing .text p {
  line-height: 1.5;
  margin: 5px 0 0;
  color: #666;
  font-size: 23px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 20px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}
.landing .go-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  color: var(--main-color);
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* end landing */

/* start games */
.articles {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.articles .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .container .boxes {
  position: relative;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  transition: var(--main-transition);
  top: 0;
  background-color: white;
  overflow: hidden;
}
.articles .container .boxes:hover {
  top: -10px;
}
.articles .container .boxes img {
  width: 100%;
  max-width: 100%;
}
.articles .container .text {
  margin-left: 15px;
}
.articles .container p {
  color: #666;
}
.articles .container .boxes .info {
  padding: 15px;
  border-top: 1px solid #ddd;
  position: relative;
}
.articles .container .boxes .info a {
  color: var(--main-color);
}
.articles .container .boxes .info i {
  position: absolute;
  right: 0;
  color: var(--main-color);
  margin-right: 10px;
}
.articles .container .boxes:hover i {
  animation: moving-arrow 1.5s linear infinite;
}

/* end games */
/* start gallery */
.gallery {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--background-color);
}

.gallery .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  border: 16px solid white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.gallery .container .box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.23);
  width: 0;
  height: 0;
  opacity: 0;
  transition: var(--main-transition);
}
.gallery .container .box:hover::after {
  animation: flashing 0.7s;
}

.gallery .container .box img {
  width: 100%;
  display: block;
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .box:hover img {
  transform: rotate(6deg) scale(1.1);
}

/* end gallery */
/* start features */
.features {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .card {
  border: 1px solid #ddd;
  position: relative;
}
.features .container .card:hover .image::after {
  right: 100%;
}

.features .container .card .image {
  position: relative;
  overflow: hidden;
}
.features .container .card .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 100%;
  height: 50%;
  background-color: white;
  transition: var(--main-transition);
  transform: skew(40deg);
}
.features .container .card .image img {
  width: 100%;
  max-width: 100%;
}
.features .container .card .content {
  position: relative;
  text-align: center;
}

.features .container .card .content h2 {
  font-size: 40px;
  margin-bottom: 0;
  position: relative;
}
.features .container .card .content h2::after {
  content: "";
  position: absolute;
  bottom: -23px;
  height: 5px;
  width: 80px;
  display: block;
  right: 127px;
}
.features .container .card .content p {
  padding: 25px;
  line-height: 1.9;
  color: #777;
  font-size: 19px;
}
.features .container .card a {
  position: relative;
  margin: 30px auto;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
}
.features .container .card a::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 0;

  transition: var(--main-transition);
  z-index: -1;
}
.features .container .card:hover a::before {
  width: 100%;
}
.features .container .card:hover a {
  color: white;
}
/* quality */
.features .container .quality .content h2::after {
  background-color: #f44036;
}
.features .container .quality a::before {
  background-color: #f44036;
}
.features .container .quality a {
  border: 3px solid #f44036;
  color: #f44036;
}
/* time */
.features .container .time .content h2::after {
  background-color: #009688;
}
.features .container .time a::before {
  background-color: #009688;
}
.features .container .time a {
  border: 3px solid #009688;
  color: #009688;
}

.features .container .passion .content h2::after {
  background-color: #03a9f4;
}
.features .container .passion a::before {
  background-color: #03a9f4;
}
.features .container .passion a {
  border: 3px solid #03a9f4;
  color: #03a9f4;
}
/* passion */
/* start testimonials */
.testimonials {
  background-color: var(--background-color);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  position: relative;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}
.testimonials .container .box img {
  position: absolute;
  top: 0;
  right: -5px;
  width: 90px;
  border-radius: 50%;
  transform: translateY(-50%);
  border: 10px solid var(--background-color);
}
.testimonials .container .box h3 {
  margin: 0 0 10px;
}
.testimonials .container .box .tittle {
  color: #777;
}
.testimonials .container .box .rate {
  margin-top: 10px;
}
.testimonials .container .box .rate .filled {
  color: gold;
}

.testimonials .container .box p {
  color: #777;
}
/* end testimonials */
/* start members */
.members {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.members .container .box {
  position: relative;
  background-color: var(--background-color);
  border-radius: 8px;
  width: 300px;
  padding-top: 60px;
}
.members .container .box::before {
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  background-color: #e4e4e4;
  transition: var(--main-transition);
}
.members .container .box:hover::before {
  width: 100%;
}
.members .container .box .image {
  position: relative;
}
.members .container .box .image img {
  transform: translateX(-20%);
  border-radius: 8px;
  width: 95%;
  transition: var(--main-transition);
}

.members .container .box:hover .image img {
  filter: grayscale(100%);
}
.members .container .box .icons {
  position: absolute;
  display: flex;
  right: 30px;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
}
.members .container .box .icons i {
  margin-bottom: 30px;
  transition: var(--main-transition);
}
.members .container .box .icons i:hover {
  color: var(--main-color);
}
.members .container .box .text {
  position: relative;
  z-index: 1;
}
.members .container .box .text h3 {
  margin-left: 20px;
  color: var(--main-color);
}
.members .container .box:hover .text h3 {
  color: #777;
}
.members .container .box .text p {
  margin-left: 20px;
}
/* end members */
/* start services */
.services {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--background-color);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.services .container .box {
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  position: relative;
  transition: var(--main-transition);
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  transition: var(--main-transition);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box i {
  color: var(--main-color);
  font-size: 40px;
  text-align: center;
  display: block;
  margin-top: 20px;
}
.services .container .box h3 {
  color: var(--main-color);
  display: block;
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}
.services .container .box .info {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  background-color: #f9f9f9;
}
.services .container .box .info::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  position: absolute;
  background-color: #1787e0;
}
.services .container .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
.services .container .box .info h3 {
  color: white;
  display: block;
  margin: 10px 10px 10px 20px;
  width: fit-content;
  font-size: 25px;
  background-color: #1787e0;
  z-index: 1;
}
.services .container .box .info a {
  color: var(--main-color);
  margin-right: 10px;
}
/* end services */
/* start skills */
.skills {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.skills .container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .skills .container img {
    display: none;
  }
}
.skills .container .progress {
  width: 45%;
  right: 50px;
  position: absolute;
  margin-right: 50px;
}
@media (max-width: 1000px) {
  .skills .container .progress {
    min-width: 100%;
    position: relative;
    margin: 0 auto 0px 50px;
  }
}
.skills .container .progress .prog-hold {
  margin-bottom: 40px;
}
.skills .container .progress .prog-hold h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 20px;
}
.skills .container .progress .prog-hold .prog {
  background-color: #eee;
  height: 30px;
}
.skills .container .progress .prog-hold .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.skills .container .progress .prog-hold .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: white;
  color: var(--main-color);
  top: -40px;
  right: 0;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* end skills */
/* how it workes */
.works {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--background-color);
}
.works .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 979px) {
  .works .container {
    flex-direction: column;
    align-items: center;
  }
}
.works .container img {
  max-width: 100%;
}
@media (max-width: 979px) {
  .works .container img {
    width: 50%;
    margin-bottom: 40px;
  }
}
.works .container .boxs {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 979px) {
  .works .container .boxs {
    min-width: 100%;
  }
}
.works .container .boxs .box {
  border: 2px solid white;
  background-color: #f6f5f5;
  border-radius: 7px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 2px;
  position: relative;
}
@media (max-width: 979px) {
  .works .container .boxs .box {
    flex-direction: column;
    text-align: center;
  }
}
.works .container .boxs .box::before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  width: 0;
  height: 0;
  transition: var(--main-transition);
}
.works .container .boxs .box:hover::before {
  width: 100%;
  height: 100%;
}
.works .container .boxs .box img {
  width: 60px;
  height: 80px;
  margin: 20px auto;
  z-index: 1;
}
.works .container .boxs .box .text {
  z-index: 1;
  width: 80%;
}
.works .container .boxs .box .text p {
  color: #777;
}
/* end how it works */
/* start evens */
.events {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.events .container img {
  max-width: 450px;
}
@media (max-width: 979px) {
  .events .container img {
    display: none;
  }
}
.events .container .content {
  flex: 1;
}
.events .container .content .timer {
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
}
.events .container .content .timer .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  position: relative;
  transition: var(--main-transition);
}
.events .container .content .timer .unit span:first-child {
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
  display: block;
}
.events .container .content .timer .unit span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  display: block;
}
.events .container .content .text {
  text-align: center;
}
.events .container .content .text h3 {
  font-size: 30px;
}
.events .container .content .text p {
  color: #666;
  line-height: 1.9;
  font-size: 19px;
}
.events .container .subscribe {
  margin-top: 50px;
  width: 100%;
}

.events .container .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 40px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .events .container .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
}
.events .container .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}

.events .container .subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}

/* end events */
/* start plans */
.pricing {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--background-color);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.pricing .container .plan {
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}
.pricing .container .plan::before {
  content: "";
  position: absolute;
  top: 0;
  height: 50%;
  background-color: #f6f6f6;
  width: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .container .plan::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 50%;
  background-color: #f6f6f6;
  width: 0;
  right: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .container .plan:hover::before,
.pricing .container .plan:hover::after {
  width: 100%;
}
.pricing .container .plan .head {
  text-align: center;
}
/* advanced */
@media (min-width: 1200px) {
  .pricing .container .advanced {
    transform: translateY(-20px);
  }
}
.pricing .container .advanced .head .label {
  background-color: var(--main-color-alt);
  font-size: 20px;
  font-weight: bold;
  right: -30px;
  color: white;
  top: 70px;
  padding: 10px 50px 10px 0;
  position: absolute;
  transform: rotate(90deg);
  margin: 0;
}
.pricing .container .advanced .head .label::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-width: 21px;
}
/* advanved */
.pricing .container .plan .head h3 {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -2px;
}
.pricing .container .plan .head img {
  margin-bottom: 19px;
  max-width: 100%;
  width: 80px;
}
.pricing .container .plan .head span {
  color: var(--main-color);
  font-weight: bold;
  font-size: 60px;
}
.pricing .container .plan .head span::before {
  content: "\0024";
}
.pricing .container .plan .head p {
  margin: 0 0 50px;
  color: #666;
}
.pricing .container .plan ul li {
  border-top: 1px solid #ddd;
  padding: 20px 10px;
}
.pricing .container .plan ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing .container .plan .foot {
  text-align: center;
}
.pricing .container .plan .foot a {
  background-color: white;
  padding: 15px 30px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  border-radius: 7px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  border: 2px solid var(--main-color);
  transition: var(--main-transition);
}
.pricing .container .plan .foot a:hover {
  color: white;
  background-color: var(--main-color);
}
/* end plans */
/* start videos */
.videos {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.videos .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 797px) {
  .videos .container {
    flex-direction: column;
  }
}
.videos .container .image {
  flex: 1;
  background-color: var(--background-color);
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .container .image img {
  min-width: 100%;
  width: 80%;
}
.videos .container .image p {
  background-color: white;
  padding: 20px 40px;
  width: 100%;
}
.videos .container .video-list {
  background-color: white;
  border: 1px solid var(--background-color);
}
.videos .container .video-list .title {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  justify-content: space-between;
  align-items: center;
}
.videos .container .video-list .title h4 {
  margin-left: 15px;
}
.videos .container .video-list .title i {
  margin-right: 15px;
}
.videos .container .video-list ul li {
  border-top: 1px solid var(--background-color);
  background-color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  letter-spacing: -1px;
  cursor: pointer;
  transition: var(--main-transition);
}
.videos .container .video-list ul li:hover {
  background-color: black;
  color: var(--main-color);
}
.videos .container .video-list ul li span {
  margin-top: 5px;
  color: #777;
}
/* end videos */
/* start stats*/
.stats {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: var(--main-transition);
}
.stats .container .box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.stats .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}
.stats .container .box i {
  color: var(--main-color);
  margin: 10px 0 15px;
}
.stats .container .box span {
  font-weight: bold;
  color: black;
  font-size: 40px;
}
.stats .container .box p {
  font-weight: bold;
  font-size: 15px;
  color: var(--main-color);
}

/* end stats */
/* discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}
/* end discount */
/* start footer */
.footer {
  background-color: #191919;
  padding: 70px 0 70px 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}
.footer .container .box-logo {
  display: flex;
  flex-direction: column;

  color: white;
}
.footer .container .box-logo .logo {
  font-size: 30px;
  margin: 0 0 20px;
  color: #b9b9b9;
}
.footer .container .box-logo .icons i {
  background-color: #666;
  padding: 10px 10px;
  transition: var(--main-transition);
  cursor: pointer;
}
.footer .container .box-logo .icons i:hover:last-child {
  background-color: var(--main-color-alt);
}
.footer .container .box-logo .icons i:hover:first-child {
  background-color: blue;
}
.footer .container .box-logo .icons i:hover:nth-child(2) {
  background-color: red;
}
.footer .container .box-logo .icons p {
  color: #666;
}
.footer .container .box-links {
  color: #b9b9b9;
}

.footer .container .box-links ul li {
  margin-bottom: 10px;
  border-bottom: 0.5px solid #444;
  padding-bottom: 6px;
  cursor: pointer;
  transition: var(--main-transition);
}
.footer .container .box-links ul li:hover {
  transform: translateX(10px);
  color: white;
}
.footer .container .box-links ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .container .box-contact {
  color: #b9b9b9;
}

.footer .container .box-contact ul li {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  cursor: pointer;
  transition: var(--main-transition);
}
.footer .container .box-contact ul li:hover {
  transform: translateX(10px);
  color: white;
}
.footer .container .box-contact ul li i {
  color: var(--main-color);
  margin-right: 10px;
}

.footer .container .box-images {
  text-align: center;
}

.footer .container .box-images img {
  width: 45px;
  border: 1px solid white;
}
/* end footer */
/* finish */
.finish {
  background-color: #191919;
  color: #b9b9b9;
  text-align: center;
  padding: 30px 0 30px;
  margin: 0;
  border-top: 1px solid #444;
}

/* start animation  */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-10px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translatex(0);
  }

  40%,
  60% {
    transform: translatex(-10px);
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* end animation */
